{{ define "home/home.tmpl" }}
<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
        <h1 class="display-1">
        Vizzy |
            <small class="text-muted">Extend your music.</small>
        </h1>
        <h2>Simple, extensible, fast.</h2>
        <div class="container">
            <div class="row">
                <div class="col mt-5">
                    <h5>What is <b>VIZZY</b>?</h5>
                    <div class="row ms-4 mt-3">
                        <p class>With <b>VIZZY</b>, you can extend your music with custom visuals and render them straight to mp4 to share with your friends online. Experience music in a new format with the press of a button.</p>
                    </div>

                    <h5>What makes <b>VIZZY</b> different?</h5>
                    <div class="row ms-4 mt-3">
                        <p>Generating visuals doesn't have to be a hassle. With <b>VIZZY</b>, you can create custom visuals with a few lines of code and render them to mp4 with a single command. No need to worry about learning a new complex environment. <b>VIZZY</b> is built with simplicity in mind.</p>
                    </div>
                </div>
                <div class="col">
                    <img src="/static/assets/preview.png" class="img-fluid" alt="Vizzy preview">
                </div>
            </div>
        </div>
  </body>
</html>
{{ end }}
